.customer-list-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.customer-list-header {
    margin-bottom: 15px;
}

.customer-list {
    margin-top: 10px;
}

.customer-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #f1f1f1;
}

.customer-name {
    font-weight: bold;
}

.customer-email {
    color: #888888;
}

.price-summary .summary-card {
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.latest-communications {
    margin-top: 20px;
}

.latest-communications h3 {
    margin-bottom: 20px;
}

.clientContainer {
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    margin-bottom:20px;
}
