

.outerloginwrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-image: url("../../public/meeting.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    z-index: -1;

}
.loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.signtext {
    width: 200px;
    color: rgba(32,5,72,1);
    font-weight: normal;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.inputswrapper {
    width: 80%;
}


.forgotText {
    width: 200px;
    color: rgba(32,5,72,1);
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.forgotText:hover {
  text-decoration: underline;
    cursor:pointer;
}



.loginpagelogo{
    max-width:80%;
    margin-bottom: 25px;
}
.signintext{
    font-size: 32px;
    font-weight: bold;
}
.loginbutton{
    margin-top:50px;
    width: 100%;
    background-color: rgba(32,5,72,1);
    border:none;
    height:50px;
    text-align: center;
    line-height: 40px;

}
.loginbutton:hover{
    background-color: #1d112b;
    border:none;
}
.loginbutton:focus{
    background-color: #1d112b;
    border:none;
}

.logininput{
    height:50px;
}

.logininput:focus{
    border:none;
    box-shadow: 0 0 0 .45rem rgba(197, 162, 243, 0.49);
}



.blurred {
    filter: blur(5px);
    pointer-events: none;
}

.loading-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    display: block;
}


