.sidebar {
    background-color: white !important;
    height: 100vh;
    padding: 20px;
}

.sidebar.badge {
    margin-left: 5px;
}

.inbox-list {
    max-height: 100vh;
    overflow-y: auto;
}

.inbox-item {
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  text-align: left;  /* Right align text */
}
.inbox-item:hover {
    background-color: #e9ecef;
}

.email-detail {
    padding: 20px;
}
.mailButton{
    text-align:left;
}




.inbox-item:hover {
  background-color: #e9ecef;
}

.email-item {
  display: flex;
  flex-direction: column;
    
}

.email-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: flex-start;

}

.email-dot {
  width: 8px;
  height: 8px;
  background-color: blue;
  border-radius: 50%;
  margin-right: 10px;
}

.email-subject {
  font-weight: bold;
  flex-grow: 1;
   text-align: left; 
   vertical-align: center;
}

.email-date {
  color: gray;
  
}

.email-body {
  display: flex;
  flex-direction: column;
   align-items: flex-start;
  margin-left: 18px;
    text-align: left;
}

.email-sender {
  font-weight: bold;
  color: gray;
}

.email-snippet {
  color: gray;
}

.email-attachment {
  margin-top: 5px;
}

.email-attachment span {
  background-color: #f1f1f1;
  padding: 3px 6px;
  border-radius: 3px;
}


/* E-mail details */
.email-detail-detail {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.email-detail-header {
  margin-bottom: 20px;
}

.email-detail-header h4 {
  margin-bottom: 10px;
}

.email-meta {
  font-size: 0.9rem;
  color: #555;
}

.email-meta div {
  margin-bottom: 5px;
}

.email--detail-body {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #333;
}

.email-detail-attachments h5 {
  margin-bottom: 10px;
}

.email-detail-attachments ul {
  list-style: none;
  padding: 0;
}

.email-detail-attachments li {
  margin-bottom: 5px;
}

.email-detail-attachments a {
  color: #007bff;
  text-decoration: none;
}

.email-detail-attachments a:hover {
  text-decoration: underline;
}

.select-email-prompt {
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}